*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
}

.nav-bar {
    width: 100%;
    background-color: #019bb6;
    height: 80px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    position: fixed;
    padding: 10px;
}

.options {
    display: grid;
    width: 80%;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    list-style: none;
}

.options li a {
    text-decoration: none;
    color: white;
}

.options li{
    position: relative;
}

.options_container {
    width: 100%;
    display: flex;
    align-items: center;
    transform: translateX(3%);
    font-size: 22px;
}

.options li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 1s ease;
}

.options:hover > li::after{
    content: '';
    width: 65%;
}

.nav-link, .drop-down li{
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

.drop-down{
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background-color: #5f9ea0;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 18px;
    display: none;
}

.drop-down li a:hover{
    color: #5f9ea0;
}

.serviços:hover .drop-down{
    display: block;
}

.contato:hover .drop-down{
    display: block;
}

.parceiros:hover .drop-down{
    display: block;
}

.produtos:hover .drop-down{
    display: block;
}


.serviços a{
    display: flex;
}

.contato a{
    display: flex;
}

.parceiros a{
    display: flex;
}

.produtos a{
    display: flex;
}

.serviços .dropdown-icon{
    font-size: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.contato .dropdown-icon{
    font-size: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.parceiros .dropdown-icon{
    font-size: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.produtos .dropdown-icon{
    font-size: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.serviços:hover .dropdown-icon{
    transform: rotate(180deg);
}

.contato:hover .dropdown-icon{
    transform: rotate(180deg);
}

.parceiros:hover .dropdown-icon{
    transform: rotate(180deg);
}

.produtos:hover .dropdown-icon{
    transform: rotate(180deg);
}

.drop-down li:hover{
    background: white;
    color: #5f9ea0;
    border-radius: 0.5rem;
}

.logo{
    width: max-content;
    color: white;
    transform: translateX(95%);
    font-size: 40px;
    font-weight: normal;
    font-family: 'Black Ops One', system-ui;
    cursor: default;
}

.login-container{
    width: 100%;
    display: flex;
    align-items:center;
    transform: translateX(40%);
    font-size: 22px;
}

.login{
    display: grid;
    width: 47%;
    grid-template-columns: 12% 35%;
    list-style: none;
}

.material-symbols-outlined{
    color: white;
    transform: translateX(-3%);
    cursor: pointer;
}

.login li a{
    text-decoration: none;
    color: white;
}

.login li{
    position: relative;
}

.login li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: white;
    display: block;
    position: absolute;
    transition: all 1s ease;
}

.login:hover > li::after{
    content: '';
    width: 80%;
}