*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container{
    width: 100%;
    height: max-content;
    background-color: #708090;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bnt-singup{
    background-color: transparent;
    color: white;
    border: solid 2px #fff;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 110px;
    transition: 0.7s;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

.bnt-singup:hover{
    background-color: #fff;
    color: #708090;
}

.redes-menu{
    display: grid;
    width: 20%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    justify-items: center;
}

.direitos{
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    cursor: default;
    padding-top: 30px;
}

.sub-direito{
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    cursor: default;
}